<body>
    <h1>Correlations</h1>
    <!--<select id="variable1">
        {% for mapdatum in mapdata %}
        <option value="{{mapdatum.variable}}">{{mapdatum.variable}}</option>
        {% endfor %}
    </select>
    <select id="variable2">
        {% for mapdatum in mapdata %}
        <option value="{{mapdatum.variable}}">{{mapdatum.variable}}</option>
        {% endfor %}
    </select>
    <button id="correlate">Correlate</button>
    <div id="correlation">{{correlation}}</div>-->
    <table>
        <tr>
            <td></td>
            {% for mapdatum in mapdata%}
            <td class="rotate">{{mapdatum.variable}}</td>
            {% endfor %}
        </tr>
        {% for mapdatum in mapdata%}
        <tr><td>{{mapdatum.variable}}</td></tr>
        {% endfor %}
    </table>

</body>

<style>
    td.rotate {
        white-space: nowrap;
        transform:
            rotate(315deg);
    }
</style>

<script>

//    for (var i = 0; i < array.length; i++) {
//        var option = document.createElement("option");
//        option.value = array[i];
//        option.text = array[i];
//        selectList.appendChild(option);
//    }


    function http_get(url, success) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var data = JSON.parse(xhttp.responseText);
                success(data);
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }


    var variable1 = document.getElementById('variable1');
    var variable2 = document.getElementById('variable2');
    var correlate = document.getElementById('correlate');
    correlate.onclick = function() {
        var v1 = variable1.options[variable1.selectedIndex].value;
        var v2 = variable2.options[variable2.selectedIndex].value;
        v1 = encodeURIComponent(v1);
        v2 = encodeURIComponent(v2);
        //console.log("{% url 'capstone:correlation' %}?v1="+v1+"&v2="+v2);
        window.location = "{% url 'capstone:correlation' %}?v1="+v1+"&v2="+v2;
//        http_get("{% url 'capstone:correlation' %}", function(data) {
//            console.log(data);
//        });
    };



</script>

